# Python
__pycache__/
*.pyc
.venv/
.env
.env.production
!.env.example
!.env.production.example
# SQLite
*.db

# macOS
.DS_Store

# uploads
uploads/

# chroma
chroma/

# Node
node_modules/
dist/

# Mac
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log
